# Python environment
__pycache__/
*.py[cod]
*$py.class
*.so

# Entornos virtuales
.env
.venv
env/
venv/

# Bases de datos locles
*.sqlite3
*.db
sistema_alertas.db

# Bases de datos vectoriales RAG
chroma_db/

# Pesos de Inteligencia Artificial (YOLO)
*.pt
runs/
dataset_distracted/

# PDFs simulados opcionales que pesan 
# documentos_rag/ 
# Si quieres que tus compañeros lean los PDFs, mantenlos. 
# Si no, descomenta la linea de arriba.

# Flask / Web
instance/
.webassets-cache

# IDEs
.vscode/
.idea/
.DS_Store
