# Python environment
__pycache__/
*.py[cod]
*$py.class
*.so

# Entornos virtuales
.env
.venv
env/
venv/

# Bases de datos locles
*.sqlite3
# sistema_alertas.db (Permitido para que los compañeros tengan data dummy)

# Bases de datos vectoriales RAG
# chroma_db/ (Permitido para que los compañeros eviten indexado RAG)

# Pesos de Inteligencia Artificial (YOLO)
*.pt
runs/
dataset_distracted/

# PDFs simulados opcionales que pesan 
# documentos_rag/ 
# Si quieres que tus compañeros lean los PDFs, mantenlos. 
# Si no, descomenta la linea de arriba.

# Flask / Web
instance/
.webassets-cache

# IDEs
.vscode/
.idea/
.DS_Store
